
#tvs-to-sell {
    color: red;
    font-size: 30px;
    padding-left: 20px;
}

#total-revenue {
    color: blue;
    font-size: 30px;
    padding-left: 20px;
}

#totaly-sold-till-now {
    color: green;
    font-size: 30px;
    padding-left: 20px;
}